@import "partials/_mixins.scss";
@import "partials/_variables.scss";

@font-face {
  font-family: 'Amastery Extras';
  src: url('https://www.dl.dropboxusercontent.com/s/0omva1j3c1rk1nm/amastery_extras-webfont.eot');
  src: url('https://www.dl.dropboxusercontent.com/s/0omva1j3c1rk1nm/amastery_extras-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://www.dl.dropboxusercontent.com/s/y1cxo0pg46mjvpg/amastery_extras-webfont.woff2')
      format('woff2'),
    url('https://www.dl.dropboxusercontent.com/s/sh1shz2brgmtsbp/amastery_extras-webfont.woff')
      format('woff'),
    url('https://www.dl.dropboxusercontent.com/s/2xjocg3hrsmg4km/amastery_extras-webfont.ttf')
      format('truetype'),
    url('https://www.dl.dropboxusercontent.com/s/56yx08up0eiq1b6/amastery_extras-webfont.svg#amastery_extrasamasteryXs')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amastery Hand';
  src: url('https://www.dl.dropboxusercontent.com/s/qcs5m5eye04uqlz/amastery_hand-webfont.eot');
  src: url('https://www.dl.dropboxusercontent.com/s/qcs5m5eye04uqlz/amastery_hand-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://www.dl.dropboxusercontent.com/s/5xbp67ojb66n2ht/amastery_hand-webfont.woff2')
      format('woff2'),
    url('https://www.dl.dropboxusercontent.com/s/r2n2mg1c70x698b/amastery_hand-webfont.woff')
      format('woff'),
    url('https://www.dl.dropboxusercontent.com/s/trx1869sxac2qdy/amastery_hand-webfont.ttf')
      format('truetype'),
    url('https://www.dl.dropboxusercontent.com/s/wja6ydnu5okp0om/amastery_hand-webfont.svg#amastery_handamastery_hand')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amastery Script';
  src: url('https://www.dl.dropboxusercontent.com/s/lss7nv68lp66ckb/amastery_script-webfont.eot');
  src: url('https://www.dl.dropboxusercontent.com/s/lss7nv68lp66ckb/amastery_script-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://www.dl.dropboxusercontent.com/s/5432mu46ic8mqvk/amastery_script-webfont.woff2')
      format('woff2'),
    url('https://www.dl.dropboxusercontent.com/s/iev6tg1s8ermmg1/amastery_script-webfont.woff')
      format('woff'),
    url('https://www.dl.dropboxusercontent.com/s/cex2jjse981mmuq/amastery_script-webfont.ttf')
      format('truetype'),
    url('https://www.dl.dropboxusercontent.com/s/n6bl7wta2xz2hj2/amastery_script-webfont.svg#amastery_scriptamasteryscript')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Light';
  src: url('https://www.dl.dropboxusercontent.com/s/9q0ngiejy8hw3xz/poppins-light-webfont.eot');
  src: url('https://www.dl.dropboxusercontent.com/s/9q0ngiejy8hw3xz/poppins-light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://www.dl.dropboxusercontent.com/s/dny3xggh7rj07s2/poppins-light-webfont.woff2')
      format('woff2'),
    url('https://www.dl.dropboxusercontent.com/s/vg8rsml3x2z1a9k/poppins-light-webfont.woff')
      format('woff'),
    url('https://www.dl.dropboxusercontent.com/s/q3r47ciezxsfxdy/poppins-light-webfont.ttf')
      format('truetype'),
    url('https://www.dl.dropboxusercontent.com/s/zyqjhek70x803bo/poppins-light-webfont.svg#poppinslight')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('https://www.dl.dropboxusercontent.com/s/vgs53tsy3fc9o5a/poppins-medium-webfont.eot');
  src: url('https://www.dl.dropboxusercontent.com/s/vgs53tsy3fc9o5a/poppins-medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://www.dl.dropboxusercontent.com/s/keboppo1716fao6/poppins-medium-webfont.woff2')
      format('woff2'),
    url('https://www.dl.dropboxusercontent.com/s/75gusqaeveo1ppn/poppins-medium-webfont.woff')
      format('woff'),
    url('https://www.dl.dropboxusercontent.com/s/weaulhxu7c3pvth/poppins-medium-webfont.ttf')
      format('truetype'),
    url('https://www.dl.dropboxusercontent.com/s/6g7cj3i1osriu0p/poppins-medium-webfont.svg#poppinsmedium')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('https://www.dl.dropboxusercontent.com/s/frt74su02ok9xv7/poppins-regular-webfont.eot');
  src: url('https://www.dl.dropboxusercontent.com/s/frt74su02ok9xv7/poppins-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://www.dl.dropboxusercontent.com/s/1501y1vk7x8kr0a/poppins-regular-webfont.woff2')
      format('woff2'),
    url('https://www.dl.dropboxusercontent.com/s/sumbe6eosesqb5t/poppins-regular-webfont.woff')
      format('woff'),
    url('https://www.dl.dropboxusercontent.com/s/q0osvoelzw11466/poppins-regular-webfont.ttf')
      format('truetype'),
    url('https://www.dl.dropboxusercontent.com/s/5busbm12ye55bm8/poppins-regular-webfont.svg#poppinsregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url('https://www.dl.dropboxusercontent.com/s/uu2x6xp4e8xebg4/poppins-semibold-webfont.eot');
  src: url('https://www.dl.dropboxusercontent.com/s/uu2x6xp4e8xebg4/poppins-semibold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://www.dl.dropboxusercontent.com/s/pps9oxn8yf0ukau/poppins-semibold-webfont.woff2')
      format('woff2'),
    url('https://www.dl.dropboxusercontent.com/s/57magdrgt84w92j/poppins-semibold-webfont.woff')
      format('woff'),
    url('https://www.dl.dropboxusercontent.com/s/n1cfjqg43rt9s1d/poppins-semibold-webfont.ttf')
      format('truetype'),
    url('https://www.dl.dropboxusercontent.com/s/4nkgc0y40fyjlh6/poppins-semibold-webfont.svg#poppinssemibold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('https://www.dl.dropboxusercontent.com/s/j4wkpobl22thywl/poppins-bold-webfont.eot');
  src: url('https://www.dl.dropboxusercontent.com/s/j4wkpobl22thywl/poppins-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://www.dl.dropboxusercontent.com/s/9b01c82ru3mm0ol/poppins-bold-webfont.woff2')
      format('woff2'),
    url('https://www.dl.dropboxusercontent.com/s/h88srru0ol1oa5o/poppins-bold-webfont.woff')
      format('woff'),
    url('https://www.dl.dropboxusercontent.com/s/0609xav3vsju9yx/poppins-bold-webfont.ttf')
      format('truetype'),
    url('https://www.dl.dropboxusercontent.com/s/6kfprhcxmqh5cy4/poppins-bold-webfont.svg#poppinsbold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  overflow: scroll;
}

// G L O B A L

.bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(41, 50, 73, 0.65)
    ),
    url('http://res.cloudinary.com/shayleeholley/image/upload/v1502054944/pencils_bw_rec_q0k8yg.jpg')
      center no-repeat;
  -webkit-background: url('http://res.cloudinary.com/shayleeholley/image/upload/v1502054944/pencils_bw_rec_q0k8yg.jpg')
    center no-repeat;
  -moz-background: url('http://res.cloudinary.com/shayleeholley/image/upload/v1502054944/pencils_bw_rec_q0k8yg.jpg')
    center no-repeat;
  -o-background: url('http://res.cloudinary.com/shayleeholley/image/upload/v1502054944/pencils_bw_rec_q0k8yg.jpg')
    center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

//unfinished

::selection {
  background: $white;
  color: $black;
}

// N A V B A R

.nav-container {
  background: $nav-bg;
}

nav {
  a:hover {
    text-decoration: none;
  }
  i {
    color: $white;
  }
  span {
    color: $white;
    display: none;
    font: $nav;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

.navbar-links {
  float: left;
  margin: $nav-margin;
  @include breakpoint(sm) {
    margin: 12.5px 20px 0 0;
  }
  @include breakpoint(md) {
    margin: 11.7px 25px 0 0;
  }
  @include breakpoint(lg) {
    margin: 15.5px 30px 0 0;
  }
  a:hover {
    background-color: none;
  }
  :hover {
    i {
      display: none;
    }
    span {
      display: inline;
      p {
        margin-top: $nav-link-margin;
      }
    }
  }
}

.navbar {
  position: relative;
  .navbar-nav > li > a {
    color: $white;
    font: $nav;
    letter-spacing: 7px;
    padding-right: $nav-padding;
    text-transform: lowercase;
    @include breakpoint(sm) {
      font-size: 1.4rem;
      letter-spacing: 4px;
    }
    @include breakpoint(md) {
      font-size: 1.7rem;
      letter-spacing: 5px;
    }
    @include breakpoint(lg) {
      font-size: 2rem;
      letter-spacing: 6px;
    }
  }
  .navbar-nav > li > a:hover {
    background: $nav-bg-haf;
    color: $white;
  }
  .navbar-nav > .active > a {
    :hover {
      background: $nav-bg-haf;
      color: $white;
    }
    :focus {
      background: $nav-bg-haf;
      color: $white;
    }
  }
}

// d i v i d e r s

.divider-1 {
  align-items: center;
  color: #69656f;
  display: flex;
  flex-direction: row;
  font: $divider;
  justify-content: center;
  margin: 0 1em;
  text-transform: lowercase;
  @include breakpoint(sm) {
    font-size: 4rem;
  }
  @include breakpoint(md) {
    font-size: 5rem;
  }
  @include breakpoint(lg) {
    font-size: 7rem;
  }
}

.divider-1::after {
  background: #69656f;
  border-radius: 50px;
  content: '';
  flex: 1;
  height: 2.2px;
  margin: 0 0 0 .50em;
  @include breakpoint(sm) {
    height: 3px;
  }
  @include breakpoint(md) {
    height: 3.5px;
  }
  @include breakpoint(lg) {
    height: 5px;
  }
}

.divider-1::after {
  transform: skew(-18deg);
}

.divider-2 {
  align-items: center;
  color: #293249;
  display: flex;
  flex-direction: row;
  font: $divider;
  justify-content: center;
  margin: 0 1em;
  text-transform: lowercase;
  @include breakpoint(sm) {
    font-size: 4rem;
  }
  @include breakpoint(md) {
    font-size: 5rem;
  }
  @include breakpoint(lg) {
    font-size: 7rem;
  }
}

.divider-2::before {
  background: #293249;
  border-radius: 50px;
  content: '';
  flex: 1;
  height: 2.2px;
  margin: 0 .50em 0 0;
  @include breakpoint(sm) {
    height: 3px;
  }
  @include breakpoint(md) {
    height: 3.5px;
  }
  @include breakpoint(lg) {
    height: 5px;
  }
}

.divider-2::after {
  background: #293249;
  border-radius: 50px;
  content: '';
  flex: 1;
  height: 2.2px;
  margin: 0 0 0 .50em;
  @include breakpoint(sm) {
    height: 3px;
  }
  @include breakpoint(md) {
    height: 3.5px;
  }
  @include breakpoint(lg) {
    height: 5px;
  }
}

.divider-2::after {
  transform: skew(-18deg);
}

.divider-3 {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: row;
  font: $divider;
  justify-content: center;
  margin: 0 1em;
  text-transform: lowercase;
  @include breakpoint(sm) {
    font-size: 4rem;
  }
  @include breakpoint(md) {
    font-size: 5rem;
  }
  @include breakpoint(lg) {
    font-size: 7rem;
  }
}

.divider-3::before {
  background: $white;
  border-radius: 50px;
  content: '';
  flex: 1;
  height: 2.2px;
  margin: 0 .50em 0 0;
  @include breakpoint(sm) {
    height: 3px;
  }
  @include breakpoint(md) {
    height: 3.5px;
  }
  @include breakpoint(lg) {
    height: 5px;
  }
}

.divider-3::before {
  transform: skew(-18deg);
}

// I N T R O

#intro {
  color: $intro-text;
  max-height: $intro-height;
  padding-bottom: $intro-padding;
  padding-top: $intro-padding;
  img {
    box-shadow: $profile-shadow;
    display: block;
    margin: auto;
    margin-top: $profile-margin;
    width: $profile-width;
    @include breakpoint(sm) {
      width: 175px;
    }
    @include breakpoint(md) {
      width: 200px;
    }
    @include breakpoint(lg) {
      width: 250px;
    }
  }
  #name {
    font: $intro-name;
    line-height: $intro-name-line-height;
    margin-top: $intro-margin;
    text-transform: lowercase;
    @include breakpoint(sm) {
      font-size: 5rem;
      line-height: 65px;
    }
    @include breakpoint(md) {
      font-size: 5.5rem;
      line-height: 70px;
    }
    @include breakpoint(lg) {
      font-size: 7rem;
      line-height: 90px;
    }
  }
  #title {
    font: $intro-title;
    letter-spacing: 5px;
    line-height: $intro-title-line-height;
    margin-left: $intro-title-margin-left;
    @include breakpoint(sm) {
      font-size: 3rem;
      line-height: 5px;
    }
    @include breakpoint(md) {
      font-size: 3.5rem;
      line-height: 7px;
    }
    @include breakpoint(lg) {
      font-size: 5rem;
      line-height: 9px;
    }
  }
  #skills {
    font: $intro-skills;
    line-height: $intro-skills-line-height;
    text-shadow: 0 0 0 $intro-text;
    @include breakpoint(sm) {
      font-size: 2.2rem;
      line-height: 35px;
    }
    @include breakpoint(md) {
      font-size: 2.5rem;
      line-height: 45px;
    }
    @include breakpoint(lg) {
      font-size: 3.2rem;
      line-height: 60px;
    }
  }
}

// A B O U T

#about {
  color: $white;
  max-height: $about-height;
  padding-bottom: $about-padding;
  padding-top: $about-padding;
  .bird {
    color: $white;
    font: $bio-bird;
    line-height: $bird-line-height;
    text-shadow: $bio-bird-shadow;
    @include breakpoint(sm) {
      font-size: 17rem;
    }
    @include breakpoint(md) {
      font-size: 20rem;
      line-height: 180px;
    }
    @include breakpoint(lg) {
      font-size: 25rem;
      line-height: 250px;
    }
  }
  .bio {
    color: $bio;
    font: $about-bio;
    line-height: $about-line-height;
    padding: $about-bio-padding;
    text-shadow: 0 0 0 $bio;
    @include breakpoint(sm) {
      font-size: 2.3rem;
    }
    @include breakpoint(md) {
      font-size: 2.5rem;
    }
    @include breakpoint(lg) {
      font-size: 2.8rem;
    }
  }
  .bio-link {
    color: $bio;
    font: $bio-link;
    letter-spacing: 1px;
    line-height: $bio-contact-line-height;
    padding: $about-bio-padding;
    text-shadow: 0 0 0 $bio;
    text-transform: uppercase;
    @include breakpoint(sm) {
      font-size: 3rem;
    }
    @include breakpoint(md) {
      font-size: 4rem;
    }
    a {
      color: $bio-a;
    }
  }
}

// P O R T F O L I O

#portfolio {
  color: $white;
  max-height: $portfolio-height;
  padding-bottom: $portfolio-padding;
  padding-top: $portfolio-padding;
  .thumbnail {
    display: block;
    margin: auto;
    margin-bottom: $thumbnail-margin-bottom;
    width: $portfolio-width;
    @include breakpoint(sm) {
      width: 250px;
    }
    @include breakpoint(md) {
      width: 300px;
    }
    @include breakpoint(lg) {
      width: 450px;
    }
    img {
      opacity: 1;
      &:hover {
        /* opacity: 1; */
      }
    }
  }
  .caption {
    font: $caption;
    @include breakpoint(sm) {
      font-size: 4rem;
    }
    @include breakpoint(lg) {
      font-size: 5rem;
    }
    a {
      color: $caption-link;
      text-decoration: none;
      /*  :hover {  
        color: $caption-hover;
      } */
    }
  }
}

// --- m o d a l

.btn {
  background: $modal-button-default;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: $modal-button-radius;
  border-top-left-radius: $modal-button-radius;
  border-top-right-radius: 0;
  color: $white;
  display: block;
  font: $modal-button;
  letter-spacing: 5px;
  margin: auto;
  margin-top: $modal-margin-top;
  padding: 0;
  padding-left: $modal-padding-left;
  padding-top: $modal-padding-top;
  text-transform: uppercase;
  width: $modal-button-width;
  &:hover {
    background: $modal-button-hover;
    color: $white;
  }
}

.modal-body p {
  font: $modal-body;
  margin-bottom: $modal-margin-bottom;
  a {
    color: $modal-link;
    text-decoration: none;
    :hover {
      color: $modal-link-hover;
    }
  }
}

.modal-content {
  border-radius: $modal-body-radius;
}

.modal-title {
  font: $modal-title;
}

// t r i b u t e

* {
  box-sizing: border-box;
}

.row::after {
  clear: both;
  content: "";
  display: table;
}

[class*="col-"] {
  float: left;
  padding: $col-padding;
}

// --- h e a d e r

.header {
  margin-top: $tribute-header-margin-top;
  p {
    display: inline;
  }
  #header1 {
    font: $tribute-header-big;
    text-transform: lowercase;
  }
  #header2 {
    font: $tribute-header-small;
  }
}

// --- c a r o u s e l

#my-carousel {
  img {
    max-height: $tribute-carousel-height;
    width: $tribute-carousel-width;
  }
  .carousel-text {
    font: $tribute-carousel;
  }
}

// --- m a i n

#main-contain {
  background: $white;
  margin-top: $tribute-main-margin-top;
  padding: $tribute-main-padding;
  .main-title {
    font: $tribute-title;
    text-transform: uppercase;
  }
  .main-text {
    font: $tribute-main-text;
    margin-top: $tribute-main-margin-top;
    a {
      text-decoration: none;
    }
  }
  img {
    border-radius: $tribute-img-radius;
    box-shadow: $tribute-img-shadow;
    min-height: $tribute-img-height;
  }
}

.tribute-footer {
  font-size: $tribute-footer-font;
  padding: $tribute-footer-padding;
  text-align: center;
}

[class*="col-"] {
  width: $tribute-col-width;
}

// c o l o r   s e l e c t o r

// r e s u m e s

// C O N T A C T

#contact {
  color: $white;
  max-height: $contact-height;
  padding-bottom: $contact-padding;
  padding-top: $contact-padding;
  #links {
    i {
      margin-bottom: $contact-link-margin;
    }
    a {
      color: $white;
      font-size: $contact-link-size;
      margin-left: 3px;
      margin-right: 3px;
      text-shadow: $contact-link-shadow;
      @include breakpoint(sm) {
        font-size: 4.5rem;
        margin-left: 12px;
        margin-right: 12px;
      }
      @include breakpoint(md) {
        font-size: 5rem;
        margin-left: 17px;
        margin-right: 17px;
      }
      @include breakpoint(lg) {
        font-size: 6rem;
        margin-left: 22px;
        margin-right: 22px;
        &:hover {
          color: $contact-link-color;
        }
      }
    }
  }
  .checkbox {
    background: none;
    border: $contact-border;
    border-radius: $checkbox-radius;
    box-shadow: $checkbox-shadow;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: $checkbox-margin-bottom;
    padding: $checkbox-padding;
    max-width: $checkbox-width;
    &:hover {
      background: $contact-hover-bg;
      border: $contact-border-hover;
    }
    .checkbox-text {
      color: $white;
      font: $checkbox;
      margin: $checkbox-margin;
      padding-top: $checkbox-text-padding;
      text-shadow: $checkbox-text-shadow;
      text-transform: uppercase;
      @include breakpoint(sm) {
        font-size: 1.5rem;
        padding-top: 5px;
        text-transform: none;
      }
    }
  }
  .button {
    margin-top: $contact-button-margin;
  }
  .btn-block {
    background: none;
    border: $contact-border;
    border-radius: 0;
    box-shadow: $contact-button-shadow;
    color: $white;
    font: $contact-button;
    display: block;
    letter-spacing: 5px;
    margin: auto;
    max-width: $contact-button-width;
    text-transform: uppercase;
    @include breakpoint(sm) {
      font-size: 1.7rem;
    }
    @include breakpoint(md) {
      font-size: 2rem;
    }
    @include breakpoint(lg) {
      font-size: 2.5rem;
      &:hover {
        background: $contact-hover-bg;
        border: $contact-border-hover;
        color: $white;
        font-weight: $contact-button-hover;
        .fa-paper-plane {
          display: none;
        }
        .fa-paper-plane-o {
          display: inline;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .fa-paper-plane-o {
      display: none;
    }
  }
  &:focus {
    outline: none;
  }
  .form-control {
    background: $white;
    color: $form-text;
    font: $form;
    @include breakpoint(sm) {
      font-size: 1.5rem;
      padding-top: 8px;
    }
    @include breakpoint(md) {
      font-size: 1.7rem;
      padding-top: 8px;
    }
    &:focus {
      background: $form-focus;
      border-color: $white;
      box-shadow: $form-shadow;
      color: $form-text;
    }
  }
  ::placeholder {
    color: #69656f;
  }
}

// F O O T E R

.footer {
  background: $footer-background;
  height: $footer-height;
  padding-top: $footer-padding;
  @include breakpoint(sm) {
    height: 100px;
    padding-top: 43px;
  }
  .left {
    color: $footer-text;
    font: $footer;
    text-transform: lowercase;
    @include breakpoint(sm) {
      font-size: 1.9rem;
    }
  }
  .right {
    color: $footer-text;
    font: $footer;
    a {
      color: $footer-text;
      @include breakpoint(sm) {
        font-size: 1.9rem;
      }
      &:hover {
        color: $footer-contact;
      }
    }
  }
  .footer-logo {
    color: $footer-text;
    border: $logo-border;
    border-radius: $logo-border-radius;
    display: inline-block;
    font: $footer-logo;
    line-height: $footer-logo-line-height;
    margin: auto;
    margin-left: $logo-margin-left !important;
    margin-top: $footer-margin-top;
    padding: $logo-padding;
    position: absolute;
    @include breakpoint(sm) {
      font-size: 2.5rem;
      padding: 5px 11px 5px 14px;
    }
  }
}
