@import "partials/_mixins.scss";
@import "partials/_variables.scss";

@font-face {
  font-family: "King Basil";
  src: url('https://www.dl.dropboxusercontent.com/s/9tq73402qgctp3y/King%20Basil%20Lite.woff2')
    format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "C&M";
  src: url('https://www.dl.dropboxusercontent.com/s/tez1mivoacxhhb4/cookiesmilk-regular-webfont.woff2')
    format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins Light";
  src: url('https://www.dl.dropboxusercontent.com/s/dny3xggh7rj07s2/poppins-light-webfont.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Poppins Medium";
  src: url('https://www.dl.dropboxusercontent.com/s/keboppo1716fao6/poppins-medium-webfont.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Poppins Regular";
  src: url('https://www.dl.dropboxusercontent.com/s/1501y1vk7x8kr0a/poppins-regular-webfont.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Poppins Semibold";
  src: url('https://www.dl.dropboxusercontent.com/s/pps9oxn8yf0ukau/poppins-semibold-webfont.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins Bold";
  src: url('https://www.dl.dropboxusercontent.com/s/9b01c82ru3mm0ol/poppins-bold-webfont.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 500;
}

body {
  height: 100%;
  overflow: scroll;
}

// G L O B A L

.bg {
  background: url('http://res.cloudinary.com/shayleeholley/image/upload/v1502054944/pencils_bw_rec_q0k8yg.jpg')
    center no-repeat;
  -webkit-background: url('http://res.cloudinary.com/shayleeholley/image/upload/v1502054944/pencils_bw_rec_q0k8yg.jpg')
    center no-repeat;
  -moz-background: url('http://res.cloudinary.com/shayleeholley/image/upload/v1502054944/pencils_bw_rec_q0k8yg.jpg')
    center no-repeat;
  -o-background: url('http://res.cloudinary.com/shayleeholley/image/upload/v1502054944/pencils_bw_rec_q0k8yg.jpg')
    center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

::selection {
  background: $white;
  color: $black;
}

// N A V B A R

.nav-container {
  background: $nav-bg;
}

nav {
  a:hover {
    text-decoration: none;
  }
  i {
    color: $white;
  }
  span {
    color: $white;
    display: none;
    font: $nav;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

.navbar-links {
  float: left;
  margin: $nav-margin;
  a:hover {
    background-color: none;
  }
  :hover {
    i {
      display: none;
    }
    span {
      display: inline;
      p {
        margin-top: $nav-link-margin;
      }
    }
  }
}

.navbar {
  position: relative;
  .navbar-nav > li > a {
    color: $white;
    font: $nav;
    letter-spacing: 7px;
    padding-right: $nav-padding;
    text-transform: lowercase;
  }
  .navbar-nav > li > a:hover {
    background: $nav-bg-haf;
    color: $white;
  }
  .navbar-nav > .active > a {
    :hover {
      background: $nav-bg-haf;
      color: $white;
    }
    :focus {
      background: $nav-bg-haf;
      color: $white;
    }
  }
  .fa-diamond {
    font-size: $nav-i;
  }
  .logo {
    color: $white;
    border: $logo-border;
    border-radius: $logo-border-radius;
    display: block;
    font: $nav-logo;
    left: 51.5%;
    margin-left: $logo-margin-left !important;
    margin-top: $nav-logo-margin-top;
    padding: $logo-padding;
    position: absolute;
  }
}

// I N T R O

#intro {
  background: $bg;
  border-bottom: 2px solid #69656f;
  color: $intro-text;
  max-height: $intro-height;
  padding-bottom: $intro-padding;
  padding-top: $intro-padding;
  img {
    box-shadow: $profile-shadow;
    display: block;
    margin: auto;
    margin-top: $profile-margin;
    width: $profile-width;
  }
  #name {
    font: $intro-name;
    margin-top: $intro-margin;
  }
  #summary {
    font: $intro-summary;
  }
}

// A B O U T

#about {
  background: $bg;
  border-bottom: 2px solid #69656f;
  color: $white;
  max-height: $about-height;
  padding-bottom: $about-padding;
  padding-top: $about-padding;
  img {
    border-radius: $about-radius;
    display: block;
    margin: auto;
    margin-bottom: $about-margin;
    margin-top: $about-margin;
    width: $about-img-width;
    @include breakpoint(sm) {
      float: left;
    }
  }
  .bio {
    color: $bio;
    font: $about-bio;
    line-height: 25px;
    padding: $about-bio-padding;
  }
  span.bio-bold {
    color: #293249;
    font: $about-bio-bold;
    letter-spacing: 2px;
    text-shadow: 0 0 0 #293249;
    text-transform: uppercase;
  }
}

// P O R T F O L I O

// --- m o d a l

.btn {
  background: $modal-button-default;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: $modal-button-radius;
  border-top-left-radius: $modal-button-radius;
  border-top-right-radius: 0;
  color: $white;
  display: block;
  font: $modal-button;
  letter-spacing: 5px;
  margin: auto;
  margin-top: $modal-margin-top;
  padding: 0;
  padding-left: $modal-padding-left;
  padding-top: $modal-padding-top;
  text-transform: uppercase;
  width: $modal-button-width;
  &:hover {
    background: $modal-button-hover;
    color: $white;
  }
}

.modal-body p {
  font: $modal-body;
  margin-bottom: $modal-margin-bottom;
  a {
    color: $modal-link;
    text-decoration: none;
    :hover {
      color: $modal-link-hover;
    }
  }
}

.modal-content {
  border-radius: $modal-body-radius;
}

.modal-title {
  font: $modal-title;
}

#portfolio {
  background: $bg;
  border-bottom: 2px solid #69656f;
  color: $white;
  max-height: $portfolio-height;
  padding-bottom: $portfolio-padding;
  padding-top: $portfolio-padding;
  .thumbnail {
    display: block;
    margin: auto;
    margin-bottom: $thumbnail-margin-bottom;
    width: $portfolio-width;
    img {
      opacity: 1;
      &:hover {
        /* opacity: 1; */
      }
    }
  }
  .caption {
    font: $caption;
    a {
      color: $caption-link;
      text-decoration: none;
      :hover {
        color: $caption-hover;
      }
    }
  }
}

// t r i b u t e

* {
  box-sizing: border-box;
}

.row::after {
  clear: both;
  content: "";
  display: table;
}

[class*="col-"] {
  float: left;
  padding: $col-padding;
}

// --- h e a d e r

.header {
  margin-top: $tribute-header-margin-top;
  p {
    display: inline;
  }
  #header1 {
    font: $tribute-header-big;
    text-transform: lowercase;
  }
  #header2 {
    font: $tribute-header-small;
  }
}

// --- c a r o u s e l

#my-carousel {
  img {
    max-height: $tribute-carousel-height;
    width: $tribute-carousel-width;
  }
  .carousel-text {
    font: $tribute-carousel;
  }
}

// --- m a i n

#main-contain {
  background: $white;
  margin-top: $tribute-main-margin-top;
  padding: $tribute-main-padding;
  .main-title {
    font: $tribute-title;
    text-transform: uppercase;
  }
  .main-text {
    font: $tribute-main-text;
    margin-top: $tribute-main-margin-top;
    a {
      text-decoration: none;
    }
  }
  img {
    border-radius: $tribute-img-radius;
    box-shadow: $tribute-img-shadow;
    min-height: $tribute-img-height;
  }
}

.footer {
  font-size: $tribute-footer-font;
  padding: $tribute-footer-padding;
  text-align: center;
}

[class*="col-"] {
  width: $tribute-col-width;
}

// c o l o r   s e l e c t o r

// r e s u m e s

// C O N T A C T

#contact {
  background: $bg;
  color: $white;
  max-height: $contact-height;
  padding-bottom: $contact-padding;
  padding-top: $contact-padding;
  #links {
    i {
      margin-bottom: $contact-link-margin;
    }
    a {
      color: $white;
      font-size: $contact-link-size;
      text-shadow: $contact-link-shadow;
      :hover {
        color: $contact-link-color;
      }
    }
  }
  .checkbox {
    background: none;
    border: $checkbox-border;
    border-radius: $checkbox-radius;
    box-shadow: $checkbox-shadow;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: $checkbox-margin-bottom;
    padding: $checkbox-padding;
    max-width: $checkbox-width;
    &:hover {
      background: $checkbox-hover-bg;
      border: $checkbox-hover-border;
    }
    .checkbox-text {
      color: $white;
      font: $checkbox;
      margin: $checkbox-margin;
      padding-top: $checkbox-text-padding;
      text-shadow: $checkbox-text-shadow;
      text-transform: uppercase;
    }
  }
  .button {
    margin-top: $contact-button-margin;
  }
  .btn-block {
    background: none;
    border: $checkbox-button-border;
    border-radius: 0;
    box-shadow: $contact-button-shadow;
    color: $white;
    font: $contact-button;
    display: block;
    letter-spacing: 5px;
    margin: auto;
    max-width: $contact-button-width;
    text-transform: uppercase;
    &:hover {
      background: $contact-button-hover-bg;
      border: $contact-button-border;
      color: $white;
      font-weight: $contact-button-hover;
      .fa-paper-plane {
        display: none;
      }
      .fa-paper-plane-o {
        display: inline;
      }
      &:focus {
        outline: none;
      }
    }
    .fa-paper-plane-o {
      display: none;
    }
  }
  &:focus {
    outline: none;
  }
  .form-control {
    color: $form-text;
    font: $form;
    &:focus {
      background: $form-focus;
      border-color: $white;
      box-shadow: $form-shadow;
      color: $form-text;
    }
  }
}

// F O O T E R

.footer {
  background: $footer-background;
  padding-top: 23px;
  @include breakpoint(sm) {
    padding-top: 25px;
  }
  .left {
    color: $white;
    font: $footer;
    text-transform: uppercase;
    @include breakpoint(sm) {
      font-size: 1.7rem;
    }
  }
  .right {
    color: $white;
    font: $footer;
    a {
      color: $white;
      @include breakpoint(sm) {
        font-size: 1.7rem;
      }
      &:hover {
        color: $footer-contact;
      }
    }
  }
  .footer-logo {
    color: $white;
    border: $footer-logo-border;
    border-radius: $logo-border-radius;
    display: block;
    font: $footer-logo;
    left: 51.5%;
    margin-left: $logo-margin-left !important;
    margin-top: $footer-margin-top;
    padding: $logo-padding;
    position: absolute;
  }
}
