@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700|Open+Sans:300,400");
body {
  background: url(http://res.cloudinary.com/shayleeholley/image/upload/v1502051682/pencils_bw_sq_1_ptayrz.jpg) center fixed no-repeat;
  background-size: cover;
  position: relative;
}

nav i {
  color: white;
}

.navbar-links {
  float: left;
  margin: 15px 35px 0 0;
}

.navbar-links a:hover {
  background-color: none;
}

nav span {
  color: white;
  display: none;
  font: 300 1.4rem 'Poppins', sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

.navbar-links:hover i {
  display: none;
}

.navbar-links:hover span {
  display: inline;
}

::selection {
  color: #222021;
  background: #f3eee4;
}

.navbar-custom {
  background: #86929f;
  border: none;
}

.navbar-custom .navbar-nav > li > a {
  color: white;
  font: 300 1.4rem 'Poppins', sans-serif;
  letter-spacing: 7px;
  text-transform: lowercase;
}

.navbar-custom .navbar-nav > li > a:hover {
  color: white;
  background-color: rgba(243, 238, 228, 0.3);
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: rgba(243, 238, 228, 0.3);
}

#intro {
  padding-top: 50px;
  height: 460px;
  color: #fff;
  background-color: #ff9800;
  background: linear-gradient(rgba(243, 238, 228, 0.15), rgba(243, 238, 228, 0.15));
}

#intro img {
  display: block;
  margin: auto;
  margin-top: 50px;
  box-shadow: 1px 1px 5px gray;
  width: 120px;
}

#disclaimer {
  color: #983b45;
  font: 700 1rem 'Poppins', sans-serif;
  margin-top: 20px;
  text-transform: uppercase;
}

#intro-name {
  font: 700 2.5rem 'Poppins', sans-serif;
  letter-spacing: 5px;
  text-transform: lowercase;
}

#intro-summary {
  font: 300 1.8rem 'Poppins', sans-serif;
}

#about {
  padding-top: 50px;
  height: 865px;
  color: #fff;
  background: linear-gradient(rgba(152, 59, 69, 0.2), rgba(152, 59, 69, 0.2));
}

.bio {
  font: 300 1.8rem 'Poppins', sans-serif;
  padding: 0 10px 0 10px;
}

#portfolio {
  padding-top: 50px;
  height: 720px;
  color: #fff;
  background-color: #673ab7;
  background: linear-gradient(rgba(247, 218, 174, 0.35), rgba(247, 218, 174, 0.35));
}

.thumbnail {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 290px;
}

.thumbnail img {
  opacity: 0.5;
}

.thumbnail img:hover {
  opacity: 1;
}

.caption {
  color: #222021;
  font: 300 1.2rem "Open Sans", sans-serif;
}

.caption a {
  color: #86929f;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.caption a:hover {
  color: #983b45;
}

#contact {
  padding-top: 50px;
  height: 590px;
  color: #fff;
  background-color: #ff9800;
  background: linear-gradient(rgba(188, 182, 199, 0.55), rgba(188, 182, 199, 0.55));
}

#contact-links i {
  margin-bottom: 30px;
}

#contact-links a {
  color: white;
  font-size: 3.5rem;
  /* margin: 0 20px 0 20px; */
  text-shadow: 1px 1px 3px rgba(139, 138, 136, 0.5);
}

#contact-links a:hover {
  color: rgba(152, 59, 69, 0.7);
}

.checkbox {
  background: none;
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 1px 1px 3px rgba(139, 138, 136, 0.5);
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 15px;
  padding: 3px 0 6px 0;
  max-width: 600px;
}

.checkbox:hover {
  background: rgba(152, 59, 69, 0.5);
  border: 2px solid rgba(152, 59, 69, 0.1);
}

.checkbox-text {
  color: white;
  font: 300 1.09rem "Open Sans", sans-serif;
  margin: 0 0 0 0;
  padding: 4px 0 0 0;
  text-shadow: 1px 1px 3px rgba(139, 138, 136, 0.5);
  text-transform: uppercase;
}

.button {
  margin-top: 40px;
}

.btn-block {
  background: none;
  border: 2px solid white;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(139, 138, 136, 0.5);
  color: white;
  font: 300 1.5rem "Poppins", sans-serif;
  display: block;
  letter-spacing: 9px;
  margin: auto;
  max-width: 47%;
  text-transform: uppercase;
}

.btn-block:hover {
  background: rgba(152, 59, 69, 0.5);
  border: 2px solid rgba(152, 59, 69, 0.1);
  color: white;
  font-weight: 500;
}

.btn-block .fa-paper-plane-o {
  display: none;
}

.btn-block:hover .fa-paper-plane {
  display: none;
}

.btn-block:hover .fa-paper-plane-o {
  display: inline;
}

.btn-block:focus {
  outline: none;
}

.btn-block:hover:focus {
  outline: none;
}

.form-control {
  color: #222021;
  font: 300 1.8rem "Open Sans", sans-serif;
}

.form-control:focus {
  border-color: gray;
  box-shadow: 0 0 5px rgba(34, 32, 33, 0.4);
}

::placeholder {
  font-size: 1.4rem;
}

/* M E D I A   Q U E R I E S */
