// B O R D E R S

$about-radius: 20px;
$contact-button-border: 2px solid rgba(152, 59, 69, 0.1);
$checkbox-border: 2px solid white;
$checkbox-button-border: 2px solid white;
$checkbox-hover-border: 2px solid rgba(152, 59, 69, 0.1);
$checkbox-radius: 30px;
$footer-logo-border: 3px solid #69656f;
$logo-border: 2px solid #f7efed;
$logo-border-radius: 80px;
$section-border: 2px solid #69656f;
$tribute-img-radius: 50px;

// C O L O R S

/* $bg: linear-gradient(rgba(247, 239, 237, 0.65), rgba(41, 50, 73, 0.65)); */
$bio: #293249;
$bio-a: #f7efed;
$black: #222021;
$caption-hover: rgb(135, 59, 69);
$caption-link: rgb(34, 32, 33);
$checkbox-hover-bg: rgba(152, 59, 69, 0.5);
$contact-button-hover-bg: rgba(152, 59, 69, 0.5);
$contact-link-color: rgb(135, 59, 69);
$divider: #69656f;
$footer-background: linear-gradient(
  rgba(247, 239, 237, 0.85),
  rgba(247, 239, 237, 0.85)
);
$footer-contact: rgb(135, 59, 69);
$footer-text: #69656f;
$form-text: rgb(34, 32, 33);
$form-focus: rgba(255, 255, 255, 0.55);
$intro-text: #293249;
$nav-bg: linear-gradient(rgba(105, 101, 111, 0.85), rgba(105, 101, 111, 0.85));
$nav-bg-haf: rgba(247, 239, 237, 0.37);
$white: #f7efed;

// F O N T S

$about-bio: 2rem "Poppins Light", sans-serif;
$bio-link: 2.7rem "C&M", sans-serif;
$caption: 2.2rem "King Basil", sans-serif;
$checkbox: 300 1.03rem "Poppins Light", sans-serif;
$checkbox-hover: 400;
$contact-button: 300 1.5rem "Mosk Thin", sans-serif;
$contact-button-hover: 400;
$footer: 1.3rem "Poppins Medium", sans-serif;
$footer-logo: 2.5rem "King Basil", sans-serif;
$form: 300 1.3rem "Mosk Thin", sans-serif;
$intro-name: normal 4rem "King Basil", cursive;
$intro-summary: 3rem "C&M", sans-serif;
$nav: 1.6rem "Poppins Light", sans-serif;
$nav-i: 1.3rem;
$nav-logo: 1.6rem "King Basil", sans-serif;
$tribute-carousel: 700 1.5rem "Mosk Thin Condensed", sans-serif;
$tribute-header-big: 700 2.5rem "Mosk Thin Condensed", sans-serif;
$tribute-header-small: 700 2rem "Mosk Thin Condensed", sans-serif;
$tribute-main-text: 3rem "Mosk Thin Condensed", sans-serif;
$tribute-title: 700 4rem "Mosk Thin Condensed", sans-serif;

// M A R G I N S

$about-margin: 20px;
$checkbox-margin: 0 0 0 0;
$checkbox-margin-bottom: 15px;
$contact-button-margin: 40px;
$contact-link-margin: 30px;
$footer-margin-top: -17px;
$intro-margin: 20px;
$logo-margin-left: -50px;
$nav-link-margin: 3px;
$nav-logo-margin-top: 4px;
$nav-margin: 13px 35px 0 0;
$profile-margin: 50px;
$thumbnail-margin-bottom: 20px;
$thumbnail-margin-top: 20px;
$tribute-header-margin-top: 50px;
$tribute-main-margin-top: 20px;
$tribute-main-margin-top: 25px;

// M E D I A   Q U E R I E S

// - - - t r i b u t e - - -

$tiny-font-size-header-1: 3.5rem;
$small-font-size-header-1: 3.8rem;
$medium-font-size-header-1: 4rem;
$normal-font-size-header-1: 4.3rem;
$large-font-size-header-1: 4.5rem;

// M O D A L

$modal-body-radius: 30px;
$modal-body: 300 1.7rem 'Open Sans', sans-serif;
$modal-button: normal 2rem 'Alcubierre', sans-serif;
$modal-button-default: #86929f;
$modal-button-hover: #983b45;
$modal-button-radius: 20px;
$modal-button-width: 125px;
$modal-link: #e9b68e;
$modal-link-hover: #983b45;
$modal-margin-bottom: 30px;
$modal-margin-top: 30px;
$modal-padding-left: 5px;
$modal-padding-top: 15px;
$modal-title: normal 4rem 'Luna', cursive;

// P A D D I N G

$about-bio-padding: 10px 10px 0 10px;
$about-padding: 100px;
$checkbox-padding: 3px 0 6px 0;
$checkbox-text-padding: 7px;
$col-padding: 15px;
$contact-padding: 100px;
$footer-padding: 30px;
$intro-padding: 100px;
$logo-padding: 5px 10px 5px 10px;
$nav-padding: 7px;
$portfolio-padding: 100px;
$tribute-footer-padding: 15px;
$tribute-main-padding: 0 20px 20px 20px;

// S H A D O W S

$checkbox-shadow: 1px 1px 3px rgba(139, 138, 136, 0.5);
$checkbox-text-shadow: 1px 1px 3px rgba(139, 138, 136, 0.5);
$contact-button-shadow: 1px 1px 3px rgba(139, 138, 136, 0.5);
$contact-link-shadow: 1px 1px 3px rgba(139, 138, 136, 0.5);
$form-shadow: 0 0 5px rgba(34, 32, 33, 0.4);
$profile-shadow: 1px 1px 5px gray;
$tribute-img-shadow: 3px 3px 7px gray;

// S I Z E S

$about-img-width: 350px;
$about-height: 980px;
$about-line-height: 25px;
$contact-button-width: 47%;
$contact-height: 755px;
$intro-height: 590px;
$checkbox-width: 600px;
$contact-link-size: 3.5rem;
$mobile-01: 1000px;
$placeholder-font-size: 1.4rem;
$portfolio-height: 575px;
$portfolio-width: 230px;
$profile-width: 200px;
$tribute-carousel-height: 900px;
$tribute-carousel-width: 100%;
$tribute-footer-font: 14px;
$tribute-img-height: 200px;
$tribute-col-width: 100%;

// U R L S
