// B O R D E R S

$about-radius: 20px;
$checkbox-radius: 30px;
$contact-border: 2px solid #f7efed;
$contact-border-hover: 2px solid rgba(222, 210, 207, 0.05);
$logo-border: 2px solid #293249;
$logo-border-radius: 80px;
$nav-border: 1px solid #f7efed;
$section-border: 2px solid #69656f;
$tribute-img-radius: 50px;

// C O L O R S

$bio: #293249;
$bio-a: #f7efed;
$black: #222021;
$caption-hover: #69656f;
$caption-link: #293249;
$contact-hover-bg: rgba(222, 210, 207, 0.55);
$contact-link-color: #ded2cf;
$footer-background: linear-gradient(
  rgba(222, 210, 207, 0.85),
  rgba(222, 210, 207, 0.85)
);
$footer-contact: #69656f;
$footer-text: #293249;
$form-text: #293249;
$form-focus: rgba(222, 210, 207, 0.85);
$intro-text: #293249;
$nav-bg: linear-gradient(rgba(105, 101, 111, 0.85), rgba(105, 101, 111, 0.85));
$nav-bg-haf: rgba(247, 239, 237, 0.37);
$white: #f7efed;

// F O N T S

$about-bio: 2rem "Poppins Light", sans-serif;
$bio-bird: 13rem "Amastery Extras";
$bio-link: 2.5rem "Amastery Hand", sans-serif;
$caption: 3rem "Amastery Hand", sans-serif;
$checkbox: 300 1.03rem "Poppins Light", sans-serif;
$checkbox-hover: 400;
$contact-button: 300 1.5rem "Poppins Light", sans-serif;
$contact-button-hover: 400;
$contact-link-size: 3.5rem;
$divider: 3rem "Amastery Script", cursive;
$footer: 1.2rem "Poppins Light", sans-serif;
$footer-logo: 2rem "Amastery Script", sans-serif;
$form: 300 1.3rem "Poppins Light", sans-serif;
$intro-name: normal 4rem "Amastery Script", cursive;
$intro-skills: 1.6rem "Poppins Light", sans-serif;
$intro-title: 2rem "Amastery Hand", sans-serif;
$nav: 1.6rem "Poppins Light", sans-serif;
$nav-logo: 1.6rem "Amastery Script", sans-serif;
$placeholder-font-size: 1.4rem;
$tribute-carousel: 1.5rem "OSC Light", sans-serif;
$tribute-header-big: 2rem "OSC Bold", sans-serif;
$tribute-header-small: 1.5rem "OSC Bold", sans-serif;
$tribute-main-text: 3rem "OSC Light", sans-serif;
$tribute-title: 4rem "OSC Bold", sans-serif;

// M A R G I N S

$about-margin: 20px;
$checkbox-margin: 0 0 0 0;
$checkbox-margin-bottom: 15px;
$contact-button-margin: 40px;
$contact-link-margin: 30px;
$footer-margin-top: -17px;
$intro-margin: 10px;
$intro-title-margin-left: 7px;
$logo-margin-left: -50px;
$nav-link-margin: 3px;
$nav-logo-margin-top: 4px;
$nav-margin: 13px 35px 0 0;
$profile-margin: 50px;
$thumbnail-margin-bottom: 20px;
$thumbnail-margin-top: 20px;
$tribute-header-margin-top: 50px;
$tribute-main-margin-top: 20px;
$tribute-main-margin-top: 25px;

// M E D I A   Q U E R I E S

// - - - t r i b u t e - - -

$tiny-font-size-header-1: 3.5rem;
$small-font-size-header-1: 3.8rem;
$medium-font-size-header-1: 4rem;
$normal-font-size-header-1: 4.3rem;
$large-font-size-header-1: 4.5rem;

// M O D A L

$modal-body-radius: 30px;
$modal-body: 300 1.6rem 'Poppins Light', sans-serif;
$modal-body-bold: "Poppins Regular";
$modal-body-color: #293249;
$modal-button: normal 2rem 'Poppins Medium', sans-serif;
$modal-button-default: #69656f;
$modal-button-hover: #aca1a1;
$modal-button-margin-top: 50px;
$modal-button-radius: 20px;
$modal-button-width: 125px;
$modal-line-height: 25px;
$modal-link: #aca1a1;
$modal-link-hover: #983b45;
$modal-margin-bottom: 30px;
$modal-margin-top: 30px;
$modal-padding-bottom: 10px;
$modal-padding-left: 5px;
$modal-padding-top: 12px;
$modal-title: normal 3rem 'Amastery Hand', cursive;
$modal-title-color: #293249;

// P A D D I N G

$about-bio-padding: 10px 10px 0 10px;
$about-padding: 50px;
$checkbox-padding: 3px 0 6px 0;
$checkbox-text-padding: 8px;
$col-padding: 15px;
$contact-padding: 50px;
$footer-padding: 37px;
$intro-padding: 30px;
$logo-padding: 0 10px 0 10px;
$nav-padding: 7px;
$portfolio-padding: 50px;
$tribute-footer-padding: 15px;
$tribute-main-padding: 0 20px 20px 20px;

// S H A D O W S

$bio-bird-shadow: 1px 1px 3px rgba(150, 150, 150, 0.50);
$bio-shadow: 1px 1px 3px darkgray;
$checkbox-shadow: 1px 1px 3px rgba(139, 138, 136, 0.5);
$checkbox-text-shadow: 1px 1px 3px rgba(139, 138, 136, 0.5);
$contact-button-shadow: 1px 1px 3px rgba(139, 138, 136, 0.5);
$contact-button-text-shadow: 1px 1px 3px slategray;
$contact-link-shadow: 1px 1px 3px rgba(139, 138, 136, 0.5);
$divider-shadow: 1px 1px 1px gray;
$footer-shadow: 1px 1px 1px gray;
$form-shadow: 0 0 5px rgba(34, 32, 33, 0.4);
$intro-text-shadow: 1px 1px 1px lightgray;
$profile-shadow: 1px 1px 5px gray;
$tribute-img-shadow: 3px 3px 7px gray;

// S I Z E S

$about-img-width: 350px;
$about-height: 1220px;
$about-line-height: 35px;
$bio-contact-line-height: 30px;
$bird-line-height: 160px;
$contact-button-width: 47%;
$contact-height: 900px;
$checkbox-width: 600px;
$footer-height: 80px;
$footer-logo-line-height: 35px;
$intro-height: 590px;
$intro-name-line-height: 55px;
$intro-skills-line-height: 25px;
$intro-title-line-height: 2px;
$mobile-01: 1000px;
$portfolio-height: 575px;
$portfolio-width: 230px;
$profile-width: 125px;
$tribute-carousel-height: 900px;
$tribute-carousel-width: 100%;
$tribute-footer-font: 14px;
$tribute-img-height: 200px;
$tribute-col-width: 100%;

// U R L S
